<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		 xmlns="http://java.sun.com/xml/ns/javaee" 
		 xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
		 id="WebApp_ID" 
		 version="2.5">

  <display-name>FrameZapWeb</display-name>
  <servlet>
    <servlet-name>default</servlet-name>
    <servlet-class>org.eclipse.jetty.servlet.DefaultServlet</servlet-class>
  </servlet>  
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/static/*</url-pattern>
  </servlet-mapping>
    
  <servlet>
    <description></description>
    <display-name>InitServlet</display-name>
    <servlet-name>InitServlet</servlet-name>
    <servlet-class>com.pixelsimple.framezap.web.servlet.InitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>TranscodeServlet</display-name>
    <servlet-name>TranscodeServlet</servlet-name>
    <servlet-class>com.pixelsimple.framezap.web.servlet.TranscodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TranscodeServlet</servlet-name>
    <url-pattern>/transcode</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>TranscodingFileServlet</display-name>
    <servlet-name>TranscodingFileServlet</servlet-name>
    <servlet-class>com.pixelsimple.framezap.web.servlet.TranscodingFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TranscodingFileServlet</servlet-name>
    <url-pattern>/transcodingmedia</url-pattern>
  </servlet-mapping>

	<!-- 
	  <servlet>
	    <description></description>
	    <display-name>StaticFileServlet</display-name>
	    <servlet-name>StaticFileServlet</servlet-name>
	    <servlet-class>com.pixelsimple.framezap.web.servlet.StaticFileServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>StaticFileServlet</servlet-name>
	    <url-pattern>/staticmedia</url-pattern>
	  </servlet-mapping>
	-->

  <servlet>
    <description></description>
    <display-name>StaticFileServletWithRange</display-name>
    <servlet-name>StaticFileServletWithRange</servlet-name>
    <servlet-class>com.pixelsimple.framezap.web.servlet.StaticFileServletWithRange</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaticFileServletWithRange</servlet-name>
    <url-pattern>/staticmedia</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>LiveStreamingServlet</display-name>
    <servlet-name>LiveStreamingServlet</servlet-name>
    <servlet-class>com.pixelsimple.framezap.web.servlet.LiveStreamingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LiveStreamingServlet</servlet-name>
    <url-pattern>/hls</url-pattern>
  </servlet-mapping>

</web-app>
